body {
    background-color: rgb(235, 240, 240);
}

html, body {
    overflow-x: hidden;
}

div {
    text-align: center;
}

#template {
    display: none;
}

hr {
    margin: 0px;
}

#timestamp {
    color: rgb(164, 164, 164);
    font-size: 0.85rem;
}

#scores p {
    font-size: 2.2rem;
    display: inline;
}

#team1score {
    text-align: left;
}

#team2score {
    text-align: right;
}

#history [id*='player'] {
    margin: 0px;
}

.player1_label, .player2_label, .player3_label, .player4_label {
    font-size: 0.7rem;
    border-radius: 20px;
    color: rgb(255, 255, 255);
}

.player1_label {
    background: rgb(244, 121, 65);
}

.player2_label {
    background: rgb(244, 196, 65);
}

.player3_label {
    background: rgb(65, 116, 244);
}

.player4_label {
    background: rgb(91, 65, 244);
}

.details_container {
    -moz-box-shadow: inset 0px 25px 35px -25px #000000;
    -webkit-box-shadow: inset 0px 25px 35px -25px #000000;
    box-shadow: inset 0px 25px 35px -25px #000000;
    background-color: rgb(242, 242, 242);
}

.details_container.card {
    border-radius: 0rem;
    border: 1px solid rgba(0,0,0,.125);
}
