body {
    background-color: rgb(235, 240, 240);
    /* Fixes right white space on mobile (probably only iOS) */
    /* touch-action: pan-y; */
}

html, main_container {
    overflow-x: hidden;
}

div {
    text-align: center;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

#container_row, #container_row .row {
    margin-left: -15px;
    margin-right: -15px;
}

.form-control {
    padding: 0 !important;
    /* padding-right: 5px; */
}

.default_value {
    color: rgba(130, 130, 130, 0.8);
    font-size: 1.1em;
}

select {
    -webkit-appearance: none;
    text-align: center;
    text-align-last: center;
    padding: 0 !important;
}

h1 {
    text-align: center;
    color: rgb(235, 240, 240);
}

h2 {
    text-align: center;
    margin-bottom: 1rem;
}

h3 {
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

hr {
    margin: 0px;
}

.scores_separator {}

.col-3.pl-2 {
    padding-right: 1px;
}

.col-3.pr-2 {
    padding-left: 1px;
}

#validate_button {
    font-size: 2rem;
}

#shuffle_container {}

#shuffle_button {
    /* height: 60px; */
    font-size: 2rem;
}

#score_indicators {
    display: none;
}

#score_header {
    background-color: rgb(235, 240, 240);
    -webkit-box-shadow: 0px 15px 25px -17px #111;
    -moz-box-shadow: 0px 15px 25px -17px #111;
    box-shadow: 0px 15px 25px -17px #111;
}

@media only screen and (min-width: 401px) {
    #players_scores {
        /* padding-right: 2px;
        padding-left: 2px; */
    }
}

.score_border {
    background-color: #343a40;
    border: 3px solid rgb(121, 121, 121);
    border-radius: 10px;
}

.btn-outline-success:disabled {
    color: grey;
    border-color: grey;
}

.btn-outline-danger:disabled {
    color: grey;
    border-color: grey;
}

/* .container {
    padding-left: 0px !important;
    padding-right: 0px !important;
} */

#goal_section {
    padding-bottom: 1rem;
}

#gamelle_section {
    background-color: rgb(229, 232, 229);
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

#betray_section {
    padding-top: 0.5rem;
}

#debug_hide {
    display: none;
}

.pic {
    width: 100%;
    height: auto;
    border-radius: 50%;
    /* filter: blur(3px); */
}

/* * {
    box-sizing: border-box
} */

.containerr {
    position: relative;
    /* width: 50%; */
    /* max-width: 300px; */
}

/* Make the image to responsive */

/* The overlay effect - lays on top of the container and over the image */

.overlay {
    position: absolute;
    border-radius: 50%;
    bottom: 0;
    /* background: rgb(0, 0, 0); */
    /* background: rgba(0, 0, 0, 0.08); */
    /* Black see-through */
    /* color: #f1f1f1; */
    width: 100%;
    transition: .2s ease;
    opacity: 0;
    /* color: white; */
    /* font-size: 20px; */
    /* padding: 20px; */
    /* text-align: center; */
}

/* When you mouse over the container, fade in the overlay title */

/* .container:hover .overlay {
    opacity: 0.75;
} */