body {
    background-color: rgb(235, 240, 240);
    padding-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
}

html, body {
    overflow-x: hidden;
}

div {
    text-align: center;
}

#validate_button {
    font-size: 2rem;
}

#validate_container {
    margin-top: 1.5rem;
}

hr {
    margin: 0px;
}

#log_user_container {
    margin-left: 2px;
    margin-right: 2px;
}

#signin {
    /* display: none; */
    font-size: 1.5rem;
}

#signup {
    font-size: 1.5rem;
}

.signin_form {
    display: none;
}

#template {
    display: none;
}

hr {
    margin: 0px;
}

#timestamp {
    color: rgb(164, 164, 164);
    font-size: 0.85rem;
}

#scores p {
    font-size: 2.2rem;
    display: inline;
}

#team1score {
    text-align: left;
}

#team2score {
    text-align: right;
}

#history [id*='player'] {
    margin: 0px;
}

.reason {
    text-align: justify;
    text-justify: inter-word;
    background: rgb(250, 251, 208);
}

.profile_title {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.information_box {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, .1);
    /* display: none; */
}

.top_box {
    border-width: 2px 1px 1px 1px;
}

.information_box_text {
    font-size: 2.8rem;
}

.even_box, .odd_box, .full_box {
    height: 200px;
}

.even_box {
    background: rgb(223, 227, 223);
}

.odd_box {
    background: rgb(229, 232, 229);
}

.full_box {
    background: rgb(217, 221, 217);
}