body {
    background-color: rgb(235, 240, 240);
    padding-bottom: 1rem;
    /* Fixes right white space on mobile (probably only iOS) */
    /* overflow-x: hidden; */
    touch-action: pan-y;
}

#score_header {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
}

.form-control {
    padding: 0 !important;
    padding-right: 5px;
}

.default_value {
    color: rgba(130, 130, 130, 0.8);
    font-size: 1.1em;
}

select {
    -webkit-appearance: none;
    text-align: center;
    text-align-last: center;
    padding: 0 !important;
}

h1 {
    text-align: center;
    color: rgb(235, 240, 240);
}

h2
{
    text-align: center;
    margin-bottom: 1rem;
}

h3
{
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

}


@media only screen and (max-width: 400px) {
    .column-container-right {
        padding-left: 0px !important;
    }

    .column-container-left {
        padding-right: 0px !important;
    }
}


#validate_button {
    font-size: 2rem;
}

#validate_container {
    margin-top: 0.2rem;
}

#score_header {
    background-color: rgb(235, 240, 240);
   -webkit-box-shadow: 0px 15px 25px -17px #111;
       -moz-box-shadow: 0px 15px 25px -17px #111;
            box-shadow: 0px 15px 25px -17px #111;

}

@media only screen and (min-width: 401px) {
    #players_scores {
        padding-right: 2px;
        padding-left: 2px;
    }
}

.score_border {
    background-color: #343a40;
    border: 3px solid rgb(121, 121, 121);
    border-radius: 10px;
}

.container {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
