body {
    background-color: rgb(235, 240, 240);
}

html, body {
    overflow-x: hidden;
}

div {
    text-align: center;
}

hr {
    margin: 0px;
}

#players_container, #add_players_container {
    margin-left: 2px;
    margin-right: 2px;
}

#players_list p {
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 0rem;
}

#players_list h2 {
    padding-top: 0.75rem;
}
