body {
    background-color: rgb(235, 240, 240);
    padding-bottom: 1rem;
}

html, body {
    overflow-x: hidden;
}

div {
    text-align: center;
}

#validate_button {
    font-size: 2rem;
}

#validate_container {
    margin-top: 1.5rem;
}

hr {
    margin: 0px;
}

#log_user_container {
    margin-left: 2px;
    margin-right: 2px;
}
