body {
    background-color: rgb(255, 255, 255);
}

html, body {
    overflow-x: hidden;
}


.podium div {
    width: 100px;
    display: inline-block;
}

.top {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    background: red;
}

.left {
    background-color: red;
}

.right {
    background: green;
}


body {
	font-family: 'Century Gothic';
	color: #989c9b;
}

.container > header {
	margin: 0 auto;
	padding: 1em;
	text-align: center;
    font-family: "Century Gothic";

}

.container > header h1 {
  font-weight: 600;
	font-size: 3em;
	margin: 0;
}

.wrapper {
	line-height: 1em;
	margin: 0 auto;
	padding: 0em 0 0em;
	width: 100%;
	max-width: 2000px;
	overflow: hidden;
}

table {
    border-collapse: collapse;
    width: 100%;
    background: #fff;
}

th {
    background-color: rgb(65, 105, 225);
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}

td, th {
    padding: 1em 1.5em;
    text-align: left;
    font-family: "Century Gothic";
}

tbody th {
	background-color: #2ea879;
}
tbody tr:nth-child(2n-1) {
    background-color: #f5f5f5;
    transition: all .125s ease-in-out;
}
tbody tr:hover {
    background-color: rgba(50,98,149,.3);
}

td.rank {
	text-transform: capitalize;
}


/* Vertical NavBar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}
li a {
    text-align:center;
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
}
/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}
