body {
    background-color: rgb(235, 240, 240);
}

html, body {
    overflow-x: hidden;
}

div {
    text-align: center;
}

select option {
    text-align: center;
}

#validate_button {
    font-size: 2rem;
}

#shuffle_button {
    font-size: 1.5rem;
}



#history [id*='match'] {
    padding-top: 1.5rem;
}

hr {
    margin: 0px;
}

#template {
    display: none;
}

#check {
    display: none;
}

select {
    -webkit-appearance: none;
    text-align: center;
    text-align-last: center;
    padding: 0 !important;
}

.default_value {
    color: rgba(130, 130, 130, 0.8);
    font-size: 1.1em;
}

#title p {
    margin-bottom: 0px;
}

#player1_input, #player3_input {
    margin-bottom: 0.5rem;
}

#status_div {
    z-index: 1;
}
